{% extends 'base.html' %}

{% load static %}


{% block title %}
Vendas de carros
{% endblock %}

{% block content %}
<a href="{% url 'logout' %}">Logout</a>
<h2>Listagem de Carros</h2>
<ul>
    {% for car in cars %}

    <li>Marca: <a href="{% url 'car_update' car.id %}">{{ car.car_name }}</a></li>
    <li>Modelo: {{ car.car_model }}</li>
    <li>Cor: {{ car.car_color }}</li>
    <li>Ano: {{ car.car_year }}</li>
    <li>Valor: {{ car.car_value }}</li>
    <li>Descrição: {{ car.car_description }}</li>
    <br>
    <a href="{% url 'car_delete' car.id %}"><button type="submit">Deletar</button></a>
    <br>
    <img src="media/cars_photos"/>
    {% endfor %}
</ul>

<a href="{% url 'car_create' %}">
    <button type="submit">New car</button>
</a>
{% endblock %}